:root {
    --yellow-primary: #F4BE18;
    --yellow-secondary: lightgoldenrodyellow;
    --blue-primary: #14145E;
    --blue-secondary: #4e68fd;
}


.color-blue {
    color: var(--blue-primary)
}

.color-blue-light {
    color: var(--blue-secondary)
}

