
.card-style {
    min-width: 40vw;
    margin: 20px 5px;
    border-radius: 0 35px 0 35px;
    background-color: var(--yellow-secondary);
    border-width: 3px;
    box-shadow: 15px 9px 5px 0 rgba(0,0,0,0.75);
}

.img {
    width: 150px;
    height: 200px;
}
